six==1.12.0
tqdm==4.19.9  
torch==1.1  
torchvision==0.2.2 
torchtext==0.4.0 
http://download.pytorch.org/whl/torchaudio-0.2-cp36-cp36m-linux_x86_64.whl 
librosa==0.7.0 
future==0.17.1 
h5py==2.10.0
configargparse 
ipdb
flask
pyyaml==5.1.2